
  <script src="https://d3js.org/d3.v4.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link type="text/css" rel="stylesheet" href="style.css"/>
          <script src="https://d3js.org/d3.v4.min.js"></script>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="/profile">Overview <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ChartReport">Reports</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Analytics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Export</a>
            </li>
          </ul>
        </nav>

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
          <h1>Dashboard</h1>

          <section class="row text-center placeholders">
            <div class="col-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <div class="text-muted">Something else</div>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </section>
 

          <form>
              <label><input type="radio" name="mode" value="grouped"> Grouped</label>
              <label><input type="radio" name="mode" value="stacked" checked> Stacked</label>
          </form>

          <svg width="960" height="500"></svg>
          
          <script>
          
            var n = 4, // The number of series.
            m = 58; // The number of values per series.

          // The xz array has m elements, representing the x-values shared by all series.
          // The yz array has n elements, representing the y-values of each of the n series.
          // Each yz[i] is an array of m non-negative numbers representing a y-value for xz[i].
          // The y01z array has the same structure as yz, but with stacked [y₀, y₁] instead of y.
          var xz = d3.range(m),
              yz = d3.range(n).map(function() { return bumps(m); }),
              y01z = d3.stack().keys(d3.range(n))(d3.transpose(yz)),
              yMax = d3.max(yz, function(y) { return d3.max(y); }),
              y1Max = d3.max(y01z, function(y) { return d3.max(y, function(d) { return d[1]; }); });

          var svg = d3.select("svg"),
              margin = {top: 500, right: 10, bottom: 20, left: 10},
              width = +svg.attr("width") - margin.left - margin.right,
              height = +svg.attr("height") - margin.top - margin.bottom,
              g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

          var x = d3.scaleBand()
              .domain(xz)
              .rangeRound([0, width])
              .padding(0.08);

          var y = d3.scaleLinear()
              .domain([0, y1Max])
              .range([height, 0]);

          var color = d3.scaleOrdinal()
              .domain(d3.range(n))
              .range(d3.schemeCategory20c);

          var series = g.selectAll(".series")
            .data(y01z)
            .enter().append("g")
              .attr("fill", function(d, i) { return color(i); });

          var rect = series.selectAll("rect")
            .data(function(d) { return d; })
            .enter().append("rect")
              .attr("x", function(d, i) { return x(i); })
              .attr("y", height)
              .attr("width", x.bandwidth())
              .attr("height", 0);

          rect.transition()
              .delay(function(d, i) { return i * 10; })
              .attr("y", function(d) { return y(d[1]); })
              .attr("height", function(d) { return y(d[0]) - y(d[1]); });

          g.append("g")
              .attr("class", "axis axis--x")
              .attr("transform", "translate(0," + height + ")")
              .call(d3.axisBottom(x)
                  .tickSize(0)
                  .tickPadding(6));

          d3.selectAll("input")
              .on("change", changed);

          var timeout = d3.timeout(function() {
            d3.select("input[value=\"grouped\"]")
                .property("checked", true)
                .dispatch("change");
          }, 2000);

          function changed() {
            timeout.stop();
            if (this.value === "grouped") transitionGrouped();
            else transitionStacked();
          }

          function transitionGrouped() {
            y.domain([0, yMax]);

            rect.transition()
                .duration(500)
                .delay(function(d, i) { return i * 10; })
                .attr("x", function(d, i) { return x(i) + x.bandwidth() / n * this.parentNode.__data__.key; })
                .attr("width", x.bandwidth() / n)
              .transition()
                .attr("y", function(d) { return y(d[1] - d[0]); })
                .attr("height", function(d) { return y(0) - y(d[1] - d[0]); });
          }

          function transitionStacked() {
            y.domain([0, y1Max]);

            rect.transition()
                .duration(500)
                .delay(function(d, i) { return i * 10; })
                .attr("y", function(d) { return y(d[1]); })
                .attr("height", function(d) { return y(d[0]) - y(d[1]); })
              .transition()
                .attr("x", function(d, i) { return x(i); })
                .attr("width", x.bandwidth());
          }

          // Returns an array of m psuedorandom, smoothly-varying non-negative numbers.
          // Inspired by Lee Byron’s test data generator.
          // http://leebyron.com/streamgraph/
          function bumps(m) {
            var values = [], i, j, w, x, y, z;

            // Initialize with uniform random values in [0.1, 0.2).
            for (i = 0; i < m; ++i) {
              values[i] = 0.1 + 0.1 * Math.random();
            }

            // Add five random bumps.
            for (j = 0; j < 5; ++j) {
              x = 1 / (0.1 + Math.random());
              y = 2 * Math.random() - 0.5;
              z = 10 / (0.1 + Math.random());
              for (i = 0; i < m; i++) {
                w = (i / m - y) * z;
                values[i] += x * Math.exp(-w * w);
              }
            }

            // Ensure all values are positive.
            for (i = 0; i < m; ++i) {
              values[i] = Math.max(0, values[i]);
            }

            return values;
          }

          </script>

          <h2>Section title</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                  <td>consectetur</td>
                  <td>adipiscing</td>
                  <td>elit</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>Integer</td>
                  <td>nec</td>
                  <td>odio</td>
                  <td>Praesent</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>libero</td>
                  <td>Sed</td>
                  <td>cursus</td>
                  <td>ante</td>
                </tr>
                <tr>
                  <td>1,004</td>
                  <td>dapibus</td>
                  <td>diam</td>
                  <td>Sed</td>
                  <td>nisi</td>
                </tr>
                <tr>
                  <td>1,005</td>
                  <td>Nulla</td>
                  <td>quis</td>
                  <td>sem</td>
                  <td>at</td>
                </tr>
                <tr>
                  <td>1,006</td>
                  <td>nibh</td>
                  <td>elementum</td>
                  <td>imperdiet</td>
                  <td>Duis</td>
                </tr>
                <tr>
                  <td>1,007</td>
                  <td>sagittis</td>
                  <td>ipsum</td>
                  <td>Praesent</td>
                  <td>mauris</td>
                </tr>
                <tr>
                  <td>1,008</td>
                  <td>Fusce</td>
                  <td>nec</td>
                  <td>tellus</td>
                  <td>sed</td>
                </tr>
                <tr>
                  <td>1,009</td>
                  <td>augue</td>
                  <td>semper</td>
                  <td>porta</td>
                  <td>Mauris</td>
                </tr>
                <tr>
                  <td>1,010</td>
                  <td>massa</td>
                  <td>Vestibulum</td>
                  <td>lacinia</td>
                  <td>arcu</td>
                </tr>
                <tr>
                  <td>1,011</td>
                  <td>eget</td>
                  <td>nulla</td>
                  <td>Class</td>
                  <td>aptent</td>
                </tr>
                <tr>
                  <td>1,012</td>
                  <td>taciti</td>
                  <td>sociosqu</td>
                  <td>ad</td>
                  <td>litora</td>
                </tr>
                <tr>
                  <td>1,013</td>
                  <td>torquent</td>
                  <td>per</td>
                  <td>conubia</td>
                  <td>nostra</td>
                </tr>
                <tr>
                  <td>1,014</td>
                  <td>per</td>
                  <td>inceptos</td>
                  <td>himenaeos</td>
                  <td>Curabitur</td>
                </tr>
                <tr>
                  <td>1,015</td>
                  <td>sodales</td>
                  <td>ligula</td>
                  <td>in</td>
                  <td>libero</td>
                </tr>
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>
       <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
       <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>