
      </br>
      </br>
 <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">AutaStockManager</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/about">Mission</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Help</a>
            </li>
           {{#if cur_user}}
            <li id = "logout"><a href = "/">Logout</a></li>
            {{else}}
            <li class = "nav-item">
              <a class = "nav-link" href = "/signup">Sign Up</a>
            </li>
            <li class = "nav-item">
              <a class = "nav-link" href = "/login">Login</a>
            </li>
            {{/if}}
          </ul>
        </div>
      </nav>