<!DOCTYPE html>
<html lang="en">
<head>
  {{>head}}
<title>AutaStockManager</title>
</head>
<body>

{{>bsnavbar}}

<div class = "fix-position">
{{{body}}}
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 {{#if cur_user}}
  <script>
    ;(function() {
      $('#logout').click(function() {
        $.post("/logout", function() {
          window.location.href = '/';
        });
      });
    })();
  </script>
  {{/if}}
{{>footer}}

 
</body>
</html>
