 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/static/images/favicon.ico" />

    <script src="/static/js/vendor/modernizr.custom.js"></script>
    <script type="text/javascript" src="/static/polyfills.js" charset="utf-8"></script>

    <script src="https://use.typekit.net/uyz2ncn.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    

    <link href="/static/screen.min.css" rel="stylesheet" type="text/css" media="screen,projection" />
    <meta name="theme-color" content="#000000">
    <link rel="icon" sizes="192x192" href="http://www.rollstudio.co.uk/media/filer_public/7e/d9/7ed97b03-fdb8-4582-9b93-bcd149c97f44/roll_android.jpg">

    
    
    <meta property="og:type" content="website">
    <meta property="og:title" content="About">
    <meta property="og:image" content="">
    <meta property="og:description" content="We’re Roll Studio, specialising in digital wizardry since 2008, creating beautiful and innovative solutions across the web and digital devices.">
    
    <meta property="og:url" content="http://www.rollstudio.co.uk/about/">
    <meta property="og:site_name" content="Roll Site">
    
    
    <meta property="fb:admins" content="">
    
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@rollstudio">
    <!-- verificare se lo prende da og <meta name="twitter:domain" content="http://rollstudio.co.uk"> -->
 <div class="container">

      <!-- Introduction Row -->
      <h1 class="my-4">About Us
      </h1>
      <p>We deliver great automation stock exchange for users who wants more free time in their hand</p>

      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-12">
          <h2 class="my-4">Our Team</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img style = "height: 320px; weight: 420px"class="rounded-circle img-fluid d-block mx-auto" src="https://scontent-lga3-1.xx.fbcdn.net/v/t35.0-12/25129883_849167458598094_384056464_o.jpg?oh=6f298e94289172afffa76b9b287d9438&oe=5A2DAE3A" alt="waiyanphyohein">
          <h3>WaiYanPhyoHein</br>
            <small>Software Engineer</small>
          </h3>
          <p>Design and assign jobs to other members. In addition, connect FrontEnd and BackEnd codes while ploting Database architecture. </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img style = "height: 320px; weight: 320px" class="rounded-circle img-fluid d-block mx-auto" src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-1/p320x320/20883023_798834050298102_685109042579531085_n.jpg?oh=7c53219fba477bdd4f33e4ca03eaaea4&oe=5AC5CEB7" alt="">
          <h3>Nhi Tran</br>
            <small>Software Engineer</small>
          </h3>
          <p>Design FrontEnd of the website elegantly while maintaining user's preferences from all aspects. She took the role of developing new innovative design strategy to compensate with the performance.</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img style = "height: 320px; weight: 320px" class="rounded-circle img-fluid d-block mx-auto" src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-1/c0.0.320.320/p320x320/10556384_534706520006642_7173775658668408928_n.jpg?oh=3269eb2dba22ce378c1f55c714e0f612&oe=5AC94E89" alt="">
          <h3>Ken Zou</br>
            <small>Software Enginner</small>
          </h3>
          <p>Develop Database infrastructure for the stock market by keeping track of stock data and users' activity logs and analyzing the data to output result back to both server and client sites.</p>
        </div>
      </div>
    <!-- /.container -->


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>
