 <div class="container">

      <!-- Introduction Row -->
      <h1 class="text-center my-4">About Us
      </h1>
      <p>We deliver great automation stock exchange for users who wants more free time in their hand</p>

      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-12">
          <h2 class="my-4">Our Team</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img style = "height: 320px; weight: 420px"class="rounded-circle img-fluid d-block mx-auto" src="https://scontent-lga3-1.xx.fbcdn.net/v/t35.0-12/25129883_849167458598094_384056464_o.jpg?oh=6f298e94289172afffa76b9b287d9438&oe=5A2DAE3A" alt="waiyanphyohein">
          <h3>WaiYanPhyoHein</br>
            <small>Software Engineer</small>
          </h3>
          <p>Design and assign jobs to other members. In addition, connect FrontEnd and BackEnd codes while ploting Database architecture. </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img style = "height: 320px; weight: 320px" class="rounded-circle img-fluid d-block mx-auto" src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-1/p320x320/20883023_798834050298102_685109042579531085_n.jpg?oh=7c53219fba477bdd4f33e4ca03eaaea4&oe=5AC5CEB7" alt="">
          <h3>Nhi Tran</br>
            <small>Software Engineer</small>
          </h3>
          <p>Design FrontEnd of the website elegantly while maintaining user's preferences from all aspects. She took the role of developing new innovative design strategy to compensate with the performance.</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img style = "height: 320px; weight: 320px" class="rounded-circle img-fluid d-block mx-auto" src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-1/c0.0.320.320/p320x320/10556384_534706520006642_7173775658668408928_n.jpg?oh=3269eb2dba22ce378c1f55c714e0f612&oe=5AC94E89" alt="">
          <h3>Ken Zou</br>
            <small>Software Enginner</small>
          </h3>
          <p>Develop Database infrastructure for the stock market by keeping track of stock data and users' activity logs and analyzing the data to output result back to both server and client sites.</p>
        </div>
      </div>

    </div>
    <!-- /.container -->


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>
