<div class="page-header">
<h3>About Us</h3>
		<p>
			We are responsible for managing storage warehouses or delivering products to retail stores. Also, we lead efforts to refill store shelves and product displays. 
			We help you to manage your inventory and check stock levels in real-time. Receive low inventory notifications and generate purchase orders to replenish your stock.
			Organize sales leads, suppliers, invoices, estimates, purchase orders and much more. It's easy-to-use and there's nothing to install.
		</p>
</div>
